{% extends 'main/layout.html' %}

{% block title %}Успешно{% endblock %}

{% block content %}
  <h1>Вы успешно авторизовались, как администратор!</h1>
  <h1>K1</h1>

  <form method="post">
    {% csrf_token %}
    <label for="A">Введите значение A:</label>
    <input type="number" id="A" name="A" required>
    <br>
    <label for="B">Введите значение B:</label>
    <input type="number" id="B" name="B" required>
    <br>
    <button type="button" onclick="calculateK1()">Рассчитать</button>
  </form>

  <p id="resultK1"></p>

  {% if mark is not None %}
    <p>Балл: {{ mark }}</p>
  {% endif %}

  <h1>K2</h1>

  <form method="post">
    {% csrf_token %}
    <label for="A1">Введите значение A:</label>
    <input type="number" id="A1" name="A1" required>
    <br>
    <label for="B1">Введите значение B:</label>
    <input type="number" id="B1" name="B1" required>
    <br>
    <button type="button" onclick="calculateK2()">Рассчитать</button>
  </form>

  <p id="resultK2"></p>

  {% if mark1 is not None %}
    <p>Балл: {{ mark1 }}</p>
  {% endif %}

  <p><a href="{% url 'about' %}?return_to_about=1">Перейти на страницу Регистрации</a></p>

  <script>
    function calculateK1() {
      var A = parseFloat(document.getElementById('A').value);
      var B = parseFloat(document.getElementById('B').value);
      var resultK1 = (A / B) * 100;

      document.getElementById('resultK1').innerHTML = 'K1: ' + resultK1.toFixed(2) + '%';
    }

    function calculateK2() {
      var A1 = parseFloat(document.getElementById('A1').value);
      var B1 = parseFloat(document.getElementById('B1').value);
      var resultK2 = (A1 + B1) / 100;
      document.getElementById('resultK2').innerHTML = 'K2: ' + resultK2.toFixed(2);
    }
  </script>
{% endblock %}